<div class="main_design">
<h1>Krepsinis</h1>
<p>Testas</p>
<br>
<%= link_to "Zalgiris", math_functions_sum_path %>
<br>
<%= link_to "Lietuvos rinktine", math_functions_minus_path %>
<br>
<%= link_to "Europos cempionatas", math_functions_division_path %>
<br>
<%= link_to "Uzimta vieta", math_functions_multiplication_path %>
</div>